@import '~vuetify/settings';
@import '../settings/_colors.scss';

$font-family: 'Exo 2', sans-serif;

html {
  font-family: $font-family; 
}

/** Vuetify context styles **/

/**
 * BaseIcon.vue: Context styles
 *
 * 1. Inherit button color when icon inside VButton.
 * 2. Vuetify should not steal pieces of SVG icon.
 */
.v-btn .v-btn__content .svg-icon {
  // [1]
  fill: currentColor;
}
.v-btn--floating .v-btn__content .svg-icon :not(:only-child) {
  // [2]
  &:last-child,
  &:first-child {
    -webkit-backface-visibility: visible;
    position: static;
    left: auto;
    top: auto;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.v-btn {
  letter-spacing: normal;
  border-radius: 2px;
}

// Change default dialog background color
.v-card {
  &.v-theme--dark {
    background-color: #424242; // secondary
    border-color: #424242; // secondary
  }
}

.v-dialog .v-card > .v-card-title {
  padding: 16px;
}

.v-list {
  &.v-theme--dark {
    background-color: #424242; // secondary
  }
}
.v-menu .v-overlay__content > .v-card,
.v-menu .v-overlay__content > .v-sheet,
.v-menu .v-overlay__content > .v-list {
  &.v-theme--dark {
    background-color: #424242; // secondary
  }
}

.v-application .caption {
  line-height: 1.5;
}

.v-dialog > .v-card > .v-card__text {
  padding: 16px;
}

.v-card__subtitle, .v-card__text {
  line-height: 1.5;
}

.v-theme--dark.v-card {
  > .v-card__text {
    color: #FFF;
  }

  > .v-card__subtitle {
    color: #FFF;
  }
}

.v-data-table {
  border-radius: 2px;
}

.v-theme--dark.v-data-table {
  background-color: #424242;
}

.v-snack__content {
  font-size: 16px;
}

/**
 * Resets dialog overlay background.
 */
.v-overlay__scrim {
  background: unset;
}

/**
 * Custom icon inside v-list doesn't contain margin-right
 */
.v-list-item__prepend > .icon {
  margin-inline-end: 16px;
}
.v-list-item__prepend > .icon-box {
  margin-inline-end: 16px;
}

/**
 * Decrease `v-icon` padding in lists
 */
.v-list-item__prepend > .v-icon {
  margin-inline-end: 16px;
}

/**
 * Vuetify container padding.
 */
@media #{map-get($display-breakpoints, 'md-and-down')} {
  .container {
    padding: 20px;
  }
}

/**
 * List styles
 */
.v-list-item-title {
  font-weight: 400;
}
.v-list-item-subtitle {
  opacity: unset;
}

.v-label {
  opacity: unset;
}
.v-theme--light .v-label {
  color: map-get($adm-colors, 'muted');
}
.v-theme--dark .v-label {
  color: map-get($adm-colors, 'grey-transparent');
}

/**
 * Application styles.
 */
.v-application {
  font-weight: 300;
  font-family: $font-family;
}

.v-theme--light.v-application {
  color: map-get($adm-colors, 'regular');
}

.v-theme--dark.v-application {
  color: map-get($shades, 'white');
}