@import '~vuetify/src/stylus/settings/_colors.styl'

/** AppToolbarCentered **/
.theme--light
  .app-toolbar-centered .v-toolbar
    background-color: $grey.lighten-2
.theme--dark
  .app-toolbar-centered .v-toolbar
    background-color: $shades.black

/** Options.vue **/
.options-page
  .v-input--selection-controls
    margin-top: 0

/** Buttons **/
.theme--light
  .v-btn.v-btn--primary:not(.v-btn--icon):not(.v-btn--flat)
    background-color: $shades.white
    color: $adm-colors.primary
.theme--dark
  .v-btn.v-btn--primary:not(.v-btn--icon):not(.v-btn--flat)
    background-color: $adm-colors.primary
