@import '~vuetify/src/stylus/settings/_colors.styl'

/** Buttons **/
.theme--light
  .v-btn.v-btn--primary:not(.v-btn--icon):not(.v-btn--flat)
    background-color: $shades.white
    color: $adm-colors.primary
.theme--dark
  .v-btn.v-btn--primary:not(.v-btn--icon):not(.v-btn--flat)
    background-color: $adm-colors.primary
