# Generated wallet data and icons
src/components/icons/cryptos/
src/config/mainnet.json
src/config/testnet.json
src/config/tor.json
src/lib/constants/cryptos/data.json
src/lib/schema/schema.json

# Build and dependencies
node_modules/
dist/
dist-android/
android/
coverage/
