ANDROID_KEYSTORE_PATH="../capacitor/app.keystore" # relative to ./android dir
ANDROID_KEYSTORE_PASSWORD="keystore password"
ANDROID_KEYSTORE_ALIAS="alias"
ANDROID_KEYSTORE_ALIAS_PASSWORD="alias password"
ANDROID_RELEASE_TYPE="APK"
