APPLE_ID="Your email"
APPLE_APP_SPECIFIC_PASSWORD="App-specific password"
APPLE_TEAM_ID="Apple Developer Program Team ID"
CSC_LINK="Base64-encoded app certificate or path to the .p12 file"
CSC_KEY_PASSWORD="Certificate password"
