@import '~vuetify/src/stylus/settings/_colors.styl'

@import '_mixins.styl'
@import '../../settings/_colors.styl'

.a-text-regular
  a-text-regular()

.a-text-regular-enlarged
  a-text-regular-enlarged()

.a-text-regular-bold
  a-text-regular-bold()

.a-text-regular-enlarged-bold
  a-text-regular-enlarged-bold()

.a-text-caption
  a-text-caption()

.a-text-explanation
  a-text-explanation()

.a-text-explanation-small
  a-text-explanation-small()

.a-text-explanation-bold
  a-text-explanation-bold()

.a-text-explanation-enlarged
  a-text-explanation-enlarged()

.a-text-explanation-enlarged-bold
  a-text-explanation-enlarged-bold()

.a-text-header
  a-text-header()

.a-text-headline
  a-text-headline()

.a-text-active
  a-text-active()

.a-text-attention
  a-text-attention()

.theme--light
  .a-text-regular,
  .a-text-regular-bold,
  .a-text-regular-enlarged,
  .a-text-regular-enlarged-bold,
  .a-text-header,
  .a-text-headline,
  .a-text-active
    color: $adm-colors.regular

  .a-text-explanation,
  .a-text-explanation-small,
  .a-text-explanation-enlarged,
  .a-text-explanation-enlarged-bold,
  .a-text-explanation-bold
    color: $adm-colors.muted

  .a-divider
    border-color: $adm-colors.secondary

  .a-text-attention
    background-color: $adm-colors.danger

.theme--dark
  .a-text-regular
    color: $shades.white

  .a-text-attention
    background-color: $adm-colors.danger
