/**
 * 1. Toolbar height: 56px.
 * 2. ChatInput height: 125px.
 * 3. Two <v-divider>: 2px.
 */
.chat {
  height: calc(100vh - 64px - 125px - 2px);
  box-sizing: border-box;
}
.chat--fill-height { /* for readonly chats with hidden `ChatInput`*/
  height: calc(100vh - 64px - 2px);
}

.chat__body {
  height: inherit;
  overflow-y: scroll;
  padding: 8px;
}

.chat__row {
  display: block;
}
.chat__row:not(:last-child) {
  margin-bottom: 16px;
}

.chat__item {
  color: #000;
  text-align: left;
}
.chat__item--right {
  text-align: right;
}
.chat__item--right .chat__item-body {
  /*color: #FFF;*/
  /*background-color: #424242; !* grey darken-4 *!*/
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.chat__item--transfer .chat__item-body {
  font-size: 18px;
  color: #000;
  background-color: #F1F8E9; /* light-green lighten-5 */
}

.chat__item-header {
  font-size: 12px;
  color: grey;
}
.chat__item-header > span:not(:last-child) {
  margin-right: 8px;
}

.chat__item-body {
  display: inline-block;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #000;
  background-color: #F5F5F5; /* grey lighten-4 */
  padding: 8px 16px;
  max-width: 90%;
  overflow-wrap: break-word;
  word-break: break-all;
}

/**
 * Chat input.
 */
.chat__input {
  padding: 16px;
}
/* sm-and-down */
@media only screen and (max-width : 600px) {
  .chat__input {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

/**
 * Scrollbar styles.
 */
/* width */
.chat__body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.chat__body::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.chat__body::-webkit-scrollbar-thumb {
  background: #E0E0E0; /* */
}

/* Handle on hover */
.chat__body::-webkit-scrollbar-thumb:hover {
  background: #BDBDBD;
}
