@use 'sass:map';
@use '../../settings/_colors.scss';
@use '_mixins.scss';
@use 'vuetify/settings';

.a-btn-link {
  font-size: 16px !important;
  font-weight: 500;
  text-decoration: underline;
  text-transform: unset;
}

.v-dialog--active .v-card__actions {
  padding-bottom: 15px;
}

.v-theme--light {
  .a-btn-primary {
    &:not(.v-btn--icon):not(.v-btn--flat) {
      background-color: map.get(settings.$shades, 'white');
      color: map.get(colors.$adm-colors, 'primary');
    }

    &.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
      background-color: map.get(settings.$shades, 'white') !important;
      color: map.get(colors.$adm-colors, 'muted') !important;
    }
  }

  .a-btn-regular {
    color: map.get(colors.$adm-colors, 'regular');

    &.v-btn--active:before,
    &.v-btn:hover:before,
    &.v-btn:focus:before {
      background-color: map.get(colors.$adm-colors, 'secondary2');
      opacity: 1;
    }

    &.v-btn.v-btn--disabled {
      color: map.get(colors.$adm-colors, 'muted') !important;
    }
  }

  .a-btn-link {
    color: inherit;
  }
}
.v-theme--dark {
  .a-btn-primary {
    &:not(.v-btn--icon):not(.v-btn--flat) {
      background-color: map.get(colors.$adm-colors, 'primary');
      color: map.get(settings.$shades, 'white');
    }
  }

  .a-btn-link {
    color: map.get(settings.$shades, 'white');
  }
}
