@use 'sass:map';
@use '../../settings/_colors.scss';
@use '_mixins.scss';

@use 'vuetify/settings';

.a-text-regular {
  @include mixins.a-text-regular();
}

.a-text-regular-enlarged {
  @include mixins.a-text-regular-enlarged();
}

.a-text-regular-bold {
  @include mixins.a-text-regular-bold();
}

.a-text-regular-enlarged-bold {
  @include mixins.a-text-regular-enlarged-bold();
}

.a-text-caption {
  @include mixins.a-text-caption();
}

.a-text-explanation {
  @include mixins.a-text-explanation();
}

.a-text-explanation-small {
  @include mixins.a-text-explanation-small();
}

.a-text-explanation-bold {
  @include mixins.a-text-explanation-bold();
}

.a-text-explanation-enlarged {
  @include mixins.a-text-explanation-enlarged();
}

.a-text-explanation-enlarged-bold {
  @include mixins.a-text-explanation-enlarged-bold();
}

.a-text-header {
  @include mixins.a-text-header();
}

.a-text-headline {
  @include mixins.a-text-headline();
}

.a-text-active {
  @include mixins.a-text-active();
}

.v-theme--light {
  .a-text-regular,
  .a-text-regular-bold,
  .a-text-regular-enlarged,
  .a-text-regular-enlarged-bold,
  .a-text-header,
  .a-text-headline,
  .a-text-active {
    color: map.get(colors.$adm-colors, 'regular');
  }
  .a-text-explanation,
  .a-text-explanation-small,
  .a-text-explanation-enlarged,
  .a-text-explanation-enlarged-bold,
  .a-text-explanation-bold {
    color: map.get(colors.$adm-colors, 'muted');
  }

  .a-divider {
    border-color: map.get(colors.$adm-colors, 'regular');
  }

  .a-text-attention {
    background-color: map.get(colors.$adm-colors, 'danger');
  }
}

.v-theme--dark {
  .a-text-regular {
    color: map.get(settings.$shades, 'white');
  }

  .a-text-attention {
    background-color: map.get(colors.$adm-colors, 'danger');
  }
}
