$body-font-family = 'Exo 2', sans-serif

@import './settings/_colors.styl'

@import '~vuetify/src/stylus/main'
@import '~@mdi/font/css/materialdesignicons.css'

@import './generic/_vuetify.styl'
@import './generic/_layout.styl'
@import './generic/_animations.styl'
@import './generic/_decorators.styl'

@import './components/_chat.styl'
@import './components/_login-form.styl'

@import './themes/adamant/_index.styl'
