@import '~vuetify/src/stylus/main'
@import '~wfk-montserrat/montserrat.css'
@import '~roboto-fontface/css/roboto/roboto-fontface.css'
@import '~@mdi/font/css/materialdesignicons.css'
@import '~@adamant/chat/src/assets/stylus/main.styl'

.application
  font-family: 'Roboto', sans-serif
