@import '~vuetify/src/stylus/main'
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext')
@import '~roboto-fontface/css/roboto/roboto-fontface.css'
@import '~@mdi/font/css/materialdesignicons.css'
@import '~@adamant/chat/src/assets/stylus/main.styl'

@import './generic/_vuetify.styl'
@import './generic/_layout.styl'
@import './generic/_animations.styl'

@import './themes/_adamant.styl'
